html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background: linear-gradient(
    215deg,
    #202020 0%,
    #3F3F3F 100%
  );
}

.welcome {
  color: white;
  text-align: center;
  margin-top: 100px;
  width: 35%;
  margin-left: 32%;
}

/*---------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #ffffff;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #202020;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.logout {
  background-color: #202020;
  color: rgb(255, 255, 255);
}

.btn:hover {
  color: #FFDF6C;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: rgb(255, 255, 255);
}

.nav-title:hover {
  background-color: transparent;
  border-color: #FFDF6C;
  color: #ffdf6c;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #FFDF6C;
  color: #ffdf6c;
}

.logout:hover {
  background-color: transparent;
  border-color: #FFDF6C;
  color: #ffdf6c;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  margin-top: 4%;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* --------------------------------------------------------------------------------
TaskList Treatment
-------------------------------------------------------------------------------- */

.task-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #000000;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.task-form {
  margin-bottom: 32px;
}

.task-input {
  margin-left: 30%;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #de354c;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(255, 255, 255);
}

.task-input::placeholder {
  color: #ffffff;
}

.task-button {
  margin-top: 5px;
  margin-left: 44%;
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(222, 53, 76, 1) 0%,
    rgba(60, 24, 116, 1) 100%
  );
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.task-input.edit {
  border: 2px solid rgba(60, 24, 116, 1);
}

.task-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.task-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(222, 53, 76, 1) 0%,
    rgba(60, 24, 116, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.task-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(40, 55, 71, 1) 100%
  );
}

.task-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(222, 53, 76, 1) 0%,
    rgba(40, 55, 71, 1) 100%
  );
}

.task-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(147, 36, 50, 1) 0%,
    rgba(40, 55, 71, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(255, 255, 255);
}

.edit-icon {
  color: rgb(255, 255, 255);
}