html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background: linear-gradient(
    215deg,
    #202020 0%,
    #3f3f3f 100%
  );
}

img {
  display: inline-block;
  max-width: 100%;
}

.welcome {
  color: white;
  text-align: left;
  margin-top: 100px;
}

.grid-col_8 {
  color: white;
}

/*---------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #FFDF6C;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #202020;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.logout {
  background-color: #202020;
  color: rgb(255, 255, 255);
}

.btn:hover {
  color: #FFDF6C;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: rgb(255, 255, 255);
}

.nav-title:hover {
  background-color: transparent;
  border-color: #FFDF6C;
  color: #ffdf6c;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #FFDF6C;
  color: #ffdf6c;
}

.logout:hover {
  background-color: transparent;
  border-color: #FFDF6C;
  color: #ffdf6c;
}

/* --------------------------------------------------------------------------------
Team
-------------------------------------------------------------------------------- */

.teamForm {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  margin-top: 10%;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 2px #000000cc;
}

/* --------------------------------------------------------------------------------
Select
-------------------------------------------------------------------------------- */

.custom-select {
  position: absolute;
  right: 5px;
  font-family: Arial;
}

.select-selected {
  background-color: #202020;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #ffdf6c transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #ffdf6c transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffdf6c;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  margin-top: 4%;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 2px #000000cc;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* --------------------------------------------------------------------------------
TaskList Treatment
-------------------------------------------------------------------------------- */

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.task-form {
  margin-bottom: 32px;
}

.task-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #de354c;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(255, 255, 255);
}

.task-input::placeholder {
  color: #ffffff;
}

.task-button {
  margin-top: 5px;
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(222, 53, 76, 1) 0%,
    rgba(60, 24, 116, 1) 100%
  );
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.task-input.edit {
  border: 2px solid rgba(60, 24, 116, 1);
}

.task-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.task-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(222, 53, 76, 1) 0%,
    rgba(60, 24, 116, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.task-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(40, 55, 71, 1) 100%
  );
}

.task-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(222, 53, 76, 1) 0%,
    rgba(60, 24, 116, 1) 100%
  );
}

.task-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(60, 24, 116, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(255, 255, 255);
}

.edit-icon {
  color: rgb(255, 255, 255);
}

.button {
  color: rgb(0, 0, 0)
}